/*************************
     global layout
 ************************/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  background-image: url("http://www.modafinilsale.com/data/out/17/232806643-background-textures.jpg");
  text-align: center;
  width: 90%;
}

/*************************
     input styling
 ************************/
input {
  width: 80%;
  height: 2.5em;
  padding-left: .8em;
  font-size: 1em;
  border: #BDC3C7 solid 2px;
  border-radius: 5px;
  background-color: #F8F9F9;
  outline: none;
  text-align: left;
}

input:focus {
    border: 2px solid #A6ACAF;
     font-family: 'PT Sans', sans-serif;
     font-size: 1em;
     color: #717D7E;
}

::placeholder {
    color: #BDC3C7;
    opacity: 1; /* Firefox */
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
}

 form {
   margin-top: 40px;
 }

 /*************************
      UL styling
  ************************/
 #myUL {
   list-style-type: none;
 }
 ul {
   padding: 0;
 }

/*************************
     image styling
 ************************/
a img{
  margin: 20px;
  border-radius: 5px;
}

.img-wrapper {
  margin-top: 45px;
}

/*************************
     media query
 ************************/
@media screen and (min-width:500px) {
  .flex-container,
  .flex-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
  }

  input {
    width: 50%;
}

@media screen and (min-width:1024px) {
  main {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/*************************
     lightbox styling
 ************************/
.lb-data .lb-details {
  width: 96%;
  text-align: center;
  margin-top: .8em;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: .5px;
}
.lb-data .lb-caption {
  font-size: 1.1em;
  }
  .lb-image {
  transition: .5s;
}
